requests
rlp
pycryptodome


# Stuff for signing transactions
# In general a client using eth_proxy does not 
# need to do this.

# At least one of the next 2 needs to be installed
# scrypt is tried first by default
pbkdf2
scrypt

# c_secp256k1 is preferred, but is a tough install
# and the bitcoin lib works as a fallback 
# and is a simple install 
bitcoin
c_secp256k1

